body{
    margin: 0;
    padding: 0; 
    background: linear-gradient(117.15deg, rgba(234, 96, 96, 0.5) 0%, #7117EA 100.48%);
    display: flex;
}

.sidebar{
    width: 376px;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 225, 253, 0.57) 0%, #FC007A 100%);
    box-shadow: 0px 10px 13px 11px rgba(0, 0, 0, 0.25);
}

.sidebar .logo{
    display: flex;
    width: 376px;
    height: 98px;
    background: rgba(133, 47, 155, 0.8);
}
.sidebar .logo img{
    width: 104px;
    height: 89px;
    margin-left: 50px;
    margin-top: 3px;
}
.sidebar .logo p{
    width: 243px;
    height: 30px;
    margin-left: 20px;
    margin-top: 33px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}
.sidebar .data-siswa a{
    margin-left: 100px;
    font-family: 'Readex Pro';
    font-weight: 700;
    font-size: 24px;
    line-height: 200px;
    color: #ffffff;
    text-decoration: none;
}
.sidebar .data-siswa a:hover{
    color: black;
}

.sidebar .data-barang a{
    margin-left: 100px;
    font-family: 'Readex Pro';
    font-weight: 700;
    font-size: 24px;
    line-height: 200px;
    color: #ffffff;
    text-decoration: none;
}
.sidebar .data-barang a:hover{
    color: black;
}

form{
    margin-left: 60px;
    margin-top: 80px;
}

.d1,
.d2,
.d3,
.d4,
.d5,
.d6{
    width: 900px;
    border: 1px solid white;
    background-color: transparent;
}
.d7{
    font-size: 25px;
    width: 100px;
    height: 30px;
    background: #852f9bcc;
    margin-top: 50px;
    margin-left: 800px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
.d7:hover{
    background-color: black;
}